# Displaying airport data

You have been provided a <a href="../../assets/data/airports.db">database</a> built on [SQLite](https://sqlite.org/index.html) which contains information about airports.The schema is displayed below.

## Database schema

A database's schema is its table design and structure. The **airports** database has two tables, `cities`, which contain a list of cities in the United Kingdom and Ireland, and `airports`, which contains the list of all airports. Because some cities may have multiple airports, two tables were created to store the information. In this exercise, you will use joins to display information for different cities.

| Cities           |
| ---------------- |
| id (PK, integer) |
| city (text)      |
| country (text)   |

| Airports                         |
| -------------------------------- |
| id (PK, integer)                 |
| name (text)                      |
| code (text)                      |
| city_id (FK to id in **Cities**) |

## Loading data

In [ ]:
# install the necessary dependencies
import sys
!{sys.executable} -m pip install --quiet ipython-sql

%load_ext sql

In [44]:
# download data file
!curl https://raw.githubusercontent.com/open-academy/machine-learning/main/open-machine-learning-jupyter-book/assets/data/airports.db -o ./airports.db

# loading from disk
%sql sqlite:///airports.db 

# clear tmp data file
!rm -rf airports.db

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 36864  100 36864    0     0   955k      0 --:--:-- --:--:-- --:--:-- 1058k

## Assignment

Create queries to return the following information:

1. all city names in the Cities table

In [45]:
%%sql

SELECT City FROM Cities

   sqlite:///../../assets/data/airports.db
   sqlite:////tmp/airports.db
 * sqlite:///airports.db
Done.

[('Belfast',),
 ('Enniskillen',),
 ('Londonderry',),
 ('Birmingham',),
 ('Coventry',),
 ('Leicester',),
 ('Golouchestershire',),
 ('Halfpenny Green',),
 ('Pailton',),
 ('Turweston',),
 ('Wellesbourne',),
 ('Manchester',),
 ('Woodfort',),
 ('Chivenor',),
 ('Newquai',),
 ('Lyneham',),
 ('Boscombe Down',),
 ('Culdrose',),
 ('St. Athan',),
 ('Yeovilton',),
 ('Haverfordwest',),
 ('Cardiff',),
 ('Swansea',),
 ('Bristol',),
 ('Liverpool',),
 ('London',),
 ('Plymouth',),
 ('Bournemouth',),
 ('Southampton',),
 ('Lasham',),
 ('Shoreham By Sea',),
 ('Biggin Hill',),
 ('Farnborough',),
 ('Chalsgrove',),
 ('Blackbushe',),
 ('Southend',),
 ('Lydd',),
 ('Manston',),
 ('Brough',),
 ('Carlisle',),
 ('Repton',),
 ('Blackpool',),
 ('Humberside',),
 ('Barrow Island',),
 ('Leeds',),
 ('Warton',),
 ('Hawarden',),
 ('Newcastle',),
 ('Teesside',),
 ('East Midlands',),
 ('Llanbedr',),
 ('Ternhill',),
 ('Shawbury',),
 ('Woodvale',),
 ('Kirkwall',),
 ('Sumburgh',),
 ('Wick',),
 ('Aberdeen',),
 ('Inverness',),
 ('Glasgow',),
 ('Edinburgh',),
 ('Islay',),
 ('Prestwick',),
 ('Benbecula',),
 ('Scatsta',),
 ('Dundee',),
 ('Stornoway',),
 ('Tiree',),
 ('Leuchars',),
 ('Lossiemouth',),
 ('Cambridge',),
 ('Peterborough',),
 ('Norwich',),
 ('North Weald',),
 ('Fowlmere',),
 ('Cranfield',),
 ('Exeter',),
 ('Oxford',),
 ('Benson',),
 ('Lakenheath',),
 ('Mildenhall',),
 ('Wattisham',),
 ('Wyton',),
 ('Fairford',),
 ('Brize Norton',),
 ('Odiham',),
 ('Cosford',),
 ('Northolt',),
 ('Coningsby',),
 ('Dishforth',),
 ('Leeming',),
 ('Church Fenton',),
 ('Honington',),
 ('Cottesmore',),
 ('Scampton',),
 ('Wittering',),
 ('Linton-on-ouse',),
 ('Waddington',),
 ('Topcliffe',),
 ('Cranwell',),
 ('Barkston Heath',),
 ('Marham',),
 ('Cork',),
 ('Galway',),
 ('Dublin',),
 ('Connaught',),
 ('Kerry',),
 ('Casement',),
 ('Shannon',),
 ('Sligo',),
 ('Waterford',),
 ('Nottingham',),
 ('Campbeltown',),
 ('Eday',),
 ('Fair Isle',),
 ('North Ronaldsay',),
 ('Papa Westray',),
 ('Stronsay',),
 ('Sanday',),
 ('Lerwick',),
 ('Westray',),
 ('Penzance',),
 ('Angelsey',),
 ('Barra',),
 ('Dongloe',),
 ('Leixlip',),
 ('Outer Skerries',),
 ('Inis Mor',),
 ('Indreabhan',),
 ('Unst',),
 ('North Connel',),
 ('Isle Of Wight',),
 ('Lympne',),
 ('Inisheer',),
 ('Inishmaan',),
 ('Colonsay',),
 ('Tresco',),
 ('Maidenhead',),
 ('Wycombe',),
 ('Bembridge',),
 ('Shaftesbury',),
 ('Forties Alpha',),
 ('Perth',),
 ('Caernarfon',),
 ('Bantry',),
 ('Duxford',),
 ('Fairoaks',),
 ('Rochester',),
 ('Rothera Research Station',),
 ('Beccles',),
 ('Brawdy',),
 ('Redhill',),
 ('Enstone',),
 ('Elstree',),
 ('Sandtoft',),
 ('Popham',),
 ('Shrewsbury',),
 ('Burton-on-Trent',),
 ('York',),
 ('Shobdon',),
 ('Newtownards',),
 ('Headcorn',),
 ('Panshanger',),
 ('Thurrock',),
 ('Stapleford',),
 ('Goodwood',),
 ('Spadeadam',),
 ('Kinloss',),
 ('Mona',),
 ('Longwood',)]

2. all cities in Ireland in the Cities table

In [ ]:
%%sql

SELECT ______ FROM Cities ______ Country = ______

3. all airport names with their city and country

In [ ]:
%%sql

SELECT Airports.name, Cities.____, Cities.____
FROM Airports
______ JOIN Cities 
WHERE Airports.city_id = ____

4. all airports in London, United Kingdom

In [ ]:
%%sql

SELECT Airports.name, Cities.city, Cities.country
FROM Airports
______ Cities 
WHERE Airports.city_id = Cities.id ______ Cities.____ = 'London' ______ Cities.____ = 'United Kingdom'

## Acknowledgments

Thanks to Microsoft for creating the open-source course [Data Science for Beginners](https://github.com/microsoft/Data-Science-For-Beginners) and author [Pikachú](https://github.com/BethanyJep). They inspires the majority of the content in this chapter.